<script lang="ts">
import "plyr/dist/plyr.css";
</script>

<script setup lang="ts">
import { computed, onBeforeUnmount, onMounted, ref } from "vue";
import Plyr from "plyr";
import Hls from "hls.js";
import { useUserSession } from "/@src/stores/userSession";
import { NodeViewWrapper, nodeViewProps, VueNodeViewRenderer } from "@tiptap/vue-3";

export type VPlyrCaptions = {
  src: string;
  srclang: string;
  default?: boolean;
};
export type VPlyrFormat = "4by3" | "16by9" | "square";
export interface VPlyrProps {
  source: string;
  title: string;
  poster: string;
  captions?: VPlyrCaptions[];
  reversed?: boolean;
  embed?: boolean;
  ratio?: VPlyrFormat;
  options?: Plyr.Options;
}

const props = defineProps(nodeViewProps);
const options = ref({
  preload: "none",
});

const src = computed(() => props.node.attrs.src);

const align = computed({
  get() {
    return props.node.attrs.align;
  },
  set(align) {
    props.node.updateAttributes({
      align: align,
    });
  },
});
const elWidth = computed({
  get() {
    return props.node.attrs.width;
  },
  set(width) {
    props.node.updateAttributes({
      width: width,
    });
  },
});
const height = computed({
  get() {
    return props.node.attrs.height;
  },
  set(height) {
    props.node.updateAttributes({
      height: height,
    });
  },
});

const resizing = ref(false);
const resizingStart = ref(false);
const event_state = ref({});
const setAlign = (align) => {
  align.value = align;
};
const selectImage = () => {
  resizing.value = true;
};
const startResize = (e) => {
  resizingStart.value = true;
  e.preventDefault();
  e.stopPropagation();
  saveEventState(e);
  document.addEventListener("mousemove", resize);
  document.addEventListener("mouseup", endResize);
};
const saveEventState = (e) => {
  // Save the initial event details and container state
  const imgForResize = $refs[`img_for_resize_${src}`];
  event_state.value.container_width = imgForResize.clientWidth;
  event_state.value.container_height = imgForResize.clientHeight;
  event_state.value.container_left = imgForResize.getBoundingClientRect().left;
  event_state.value.container_top = imgForResize.getBoundingClientRect().top;
  event_state.value.mouse_x =
    (e.clientX || e.pageX || e.originalEvent.touches[0].clientX) +
    document.documentElement.scrollLeft;
  event_state.value.mouse_y =
    (e.clientY || e.pageY || e.originalEvent.touches[0].clientY) +
    document.documentElement.scrollTop;

  if (typeof e.touches !== "undefined") {
    event_state.value.touches = [];
    $.each(e.touches, function (i, ob) {
      event_state.value.touches[i] = {};
      event_state.value.touches[i].clientX = 0 + ob.clientX;
      event_state.value.touches[i].clientY = 0 + ob.clientY;
    });
  }
  event_state.value.evnt = e;
};
const endResize = (e) => {
  e.preventDefault();
  document.removeEventListener("mouseup", endResize);
  document.removeEventListener("mousemove", resize);
  resizingStart.value = false;
};
const resize = (e) => {
  const $container = $refs[`resizer_${src}`];
  let mouse = {};
  mouse.x =
    (e.clientX || e.pageX || e.originalEvent.touches[0].clientX) +
    document.documentElement.scrollLeft;
  mouse.y =
    (e.clientY || e.pageY || e.originalEvent.touches[0].clientY) +
    document.documentElement.scrollTop;
  let width = 0;
  let height = 0;
  if (event_state.value.evnt.target.classList.contains("resize-handle-se")) {
    width = mouse.x - event_state.value.container_left;
    height = mouse.y - event_state.value.container_top;
  } else if (event_state.value.evnt.target.classList.contains("resize-handle-sw")) {
    width =
      event_state.value.container_width - (mouse.x - event_state.value.container_left);
    height = mouse.y - event_state.value.container_top;
  } else if (event_state.value.evnt.target.classList.contains("resize-handle-nw")) {
    width =
      event_state.value.container_width - (mouse.x - event_state.value.container_left);
    height =
      event_state.value.container_height - (mouse.y - event_state.value.container_top);
  } else if (event_state.value.evnt.target.classList.contains("resize-handle-ne")) {
    width = mouse.x - event_state.value.container_left;
    height =
      event_state.value.container_height - (mouse.y - event_state.value.container_top);
  }

  const editorW = $parent.$el.offsetWidth;
  const editorH = $parent.$el.offsetHeight;
  const widthInPercent = Math.round((100 / editorW) * width);
  const heightInPercent = Math.round((100 / editorH) * height);

  if (
    widthInPercent >= 10 &&
    heightInPercent >= 10 &&
    widthInPercent <= 98 &&
    heightInPercent <= 98
  ) {
    elWidth.value = widthInPercent;
    height = heightInPercent;
  }
};

const player = ref<Plyr>();
const videoElement = ref<HTMLElement>();
const userSession = useUserSession();
let hls = null;

const updateQuality = (newQuality) => {
  hls.levels.forEach((level, levelIndex) => {
    if (level.height === newQuality) {
      console.log("Found quality match with " + newQuality);
      hls.currentLevel = levelIndex;
    }
  });
};

onMounted(() => {
  if (Hls.isSupported()) {
    hls = new Hls({
      xhrSetup: (xhr) => {
        xhr.setRequestHeader("act", userSession.token);
      },
    });
    hls.loadSource(src.value);
    hls.attachMedia(videoElement.value);
    hls.on(Hls.Events.MANIFEST_PARSED, function (event, data) {
      // Transform available levels into an array of integers (height values).
      const availableQualities = hls.levels.map((l) => l.height);

      // Add new qualities to option
      options.value.quality = {
        default: availableQualities[0],
        options: availableQualities,
        // this ensures Plyr to use Hls to update quality level
        forced: true,
        onChange: (e) => updateQuality(e),
      };

      // Initialize here
      const player = new Plyr(videoElement.value, options.value);
    });
    hls.attachMedia(videoElement.value);
    player.value = hls;
  } else {
    console.log(options.value);
    player.value = new Plyr(videoElement.value, options.value);
  }
});

onBeforeUnmount(() => {
  if (player.value) {
    player.value.destroy();
    player.value = undefined;
  }
});
</script>

<template>
  <node-view-wrapper as="p">
    <video ref="videoElement" preload="none" controls crossorigin playsinline></video>
  </node-view-wrapper>
</template>
