<template>
  <div v-if="editor" class="editor">
    <div class="editor-header">
      <header>
        <div>
          <tippy>
            <button
                type="button"
                @click="editor.chain().focus().setParagraph().run()"
                :class="{ 'is-active': this.editor.isActive('paragraph') }"
            >
              <i aria-hidden="true" class="fas fa-paragraph"></i>
            </button>
            <template #content> Параграф</template>
          </tippy>
          <tippy>
            <button
                type="button"
                @click="editor.chain().focus().toggleHeading({ level: 1 }).run()"
                :class="{ 'is-active': editor.isActive('heading', { level: 1 }) }"
            >
              <b class="tiptap-vuetify-editor__btn-icon"> H1 </b>
            </button>
            <template #content> Заголовок 1</template>
          </tippy>
          <tippy>
            <button
                type="button"
                @click="editor.chain().focus().toggleHeading({ level: 2 }).run()"
                :class="{ 'is-active': editor.isActive('heading', { level: 2 }) }"
            >
              <b class="tiptap-vuetify-editor__btn-icon"> H2 </b>
            </button>
            <template #content> Заголовок 2</template>
          </tippy>
          <tippy>
            <button
                type="button"
                @click="editor.chain().focus().toggleHeading({ level: 3 }).run()"
                :class="{ 'is-active': editor.isActive('heading', { level: 3 }) }"
            >
              <b class="tiptap-vuetify-editor__btn-icon"> H3 </b>
            </button>
            <template #content> Заголовок 3</template>
          </tippy>
          <tippy>
            <button
                type="button"
                @click="editor.chain().focus().toggleBold().run()"
                :class="{ 'is-active': editor.isActive('bold') }"
            >
              <i aria-hidden="true" class="fas fa-bold"></i>
            </button>
            <template #content> Выделенный текст</template>
          </tippy>
          <tippy>
            <button
                type="button"
                @click="editor.chain().focus().toggleItalic().run()"
                :class="{ 'is-active': editor.isActive('italic') }"
            >
              <i aria-hidden="true" class="fas fa-italic"></i>
            </button>
            <template #content> Курсивный текст</template>
          </tippy>
          <tippy>
            <button
                type="button"
                @click="editor.chain().focus().toggleUnderline().run()"
                :class="{ 'is-active': editor.isActive('underline') }"
            >
              <i aria-hidden="true" class="fas fa-underline"></i>
            </button>
            <template #content> Подчеркнутый текст</template>
          </tippy>
          <tippy>
            <button
                type="button"
                @click="editor.chain().focus().toggleStrike().run()"
                :class="{ 'is-active': editor.isActive('strike') }"
            >
              <i aria-hidden="true" class="fas fa-strikethrough"></i>
            </button>
            <template #content> Зачеркнутый текст</template>
          </tippy>
          <tippy trigger="click" interactive>
            <tippy>
              <button type="button">
                <i
                    aria-hidden="true"
                    class="fas fa-tint"
                    :style="{ color: editor.getAttributes('textStyle').color }"
                ></i>
              </button>
              <template #content> Цвет</template>
            </tippy>
            <template #content>
              <color-picker
                  class="color-picker"
                  theme="light"
                  :color="editor.getAttributes('textStyle').color"
                  :sucker-hide="true"
                  @changeColor="changeColor"
              />
            </template>
          </tippy>
          <tippy trigger="click" interactive>
            <tippy>
              <button
                  type="button"
                  @click="editor.chain().focus().toggleHighlight().run()"
              >
                <i
                    aria-hidden="true"
                    class="fas fa-highlighter"
                    :style="{ color: editor.getAttributes('highlight').color }"
                ></i>
              </button>
              <template #content> Выделение</template>
            </tippy>
            <template #content>
              <color-picker
                  class="color-picker"
                  theme="light"
                  :color="editor.getAttributes('highlight').color"
                  @changeColor="changeHighlight"
              />
            </template>
          </tippy>
          <tippy>
            <button
                @click="editor.chain().focus().setTextAlign('left').run()"
                :class="{ 'is-active': editor.isActive({ textAlign: 'left' }) }"
            >
              <i aria-hidden="true" class="fas fa-align-left"></i>
            </button>
            <template #content> По левому краю</template>
          </tippy>
          <tippy>
            <button
                @click="editor.chain().focus().setTextAlign('center').run()"
                :class="{ 'is-active': editor.isActive({ textAlign: 'center' }) }"
            >
              <i aria-hidden="true" class="fas fa-align-center"></i>
            </button>
            <template #content> По центру</template>
          </tippy>
          <tippy>
            <button
                @click="editor.chain().focus().setTextAlign('right').run()"
                :class="{ 'is-active': editor.isActive({ textAlign: 'right' }) }"
            >
              <i aria-hidden="true" class="fas fa-align-right"></i>
            </button>
            <template #content> По правому краю</template>
          </tippy>
          <tippy>
            <button type="button">
              <i aria-hidden="true" class="fas fa-link"></i>
            </button>
            <template #content> Вставить ссылку</template>
          </tippy>
          <tippy>
            <button
                type="button"
                @click="editor.chain().focus().toggleBulletList().run()"
            >
              <i aria-hidden="true" class="fas fa-list-ul"></i>
            </button>
            <template #content> Маркированный список</template>
          </tippy>
          <tippy>
            <button
                type="button"
                @click="editor.chain().focus().toggleOrderedList().run()"
            >
              <i aria-hidden="true" class="fas fa-list-ol"></i>
            </button>
            <template #content> Нумерованный список</template>
          </tippy>
          <!-- <tippy>
            <button type="button" @click="editor.chain().focus().indent().run()">
              <i aria-hidden="true" class="fas fa-indent"></i>
            </button>
            <template #content> Горизонтальная линия </template>
          </tippy>
          <tippy>
            <button type="button" @click="editor.chain().focus().outdent().run()">
              <i aria-hidden="true" class="fas fa-outdent"></i>
            </button>
            <template #content> Горизонтальная линия </template>
          </tippy> -->
          <tippy trigger="click" placement="bottom" interactive>
            <tippy>
              <button type="button">
                <i aria-hidden="true" class="fas fa-table"></i>
              </button>
              <template #content> Таблица</template>
            </tippy>
            <template #content>
              <div class="table-size-select" @mouseleave="columnSizeClear">
                <div v-for="rowIndex in 10" :key="rowIndex" class="columns multiline">
                  <div class="column is-12">
                    <span
                        v-for="index in 10"
                        @mouseover="columnSize"
                        @click="insertTable"
                        :key="index"
                        :data-row="rowIndex"
                        :data-column="index"
                        :class="{
                        active: tableSize.row >= rowIndex && tableSize.column >= index,
                      }"
                    />
                  </div>
                </div>
                <span
                    style="
                    text-align: center;
                    font-size: 0.75rem;
                    width: 100%;
                    display: block;
                    paddig-top: 5px;
                  "
                >{{ tableSize.row }} x {{ tableSize.column }}</span
                >
              </div>
            </template>
          </tippy>
          <tippy>
            <button
                type="button"
                @click="editor.chain().focus().toggleBlockquote().run()"
                :class="{ 'is-active': editor.isActive('blockquote') }"
            >
              <i aria-hidden="true" class="fas fa-quote-right"></i>
            </button>
            <template #content> Цитата</template>
          </tippy>
          <tippy>
            <button type="button" @click="mediaModal = true">
              <i aria-hidden="true" class="fas fa-photo-video"></i>
            </button>
            <template #content> Медиа</template>
          </tippy>
          <tippy>
            <button
                type="button"
                @click="editor.chain().focus().toggleCodeBlock().run()"
                :class="{ 'is-active': editor.isActive('codeblock') }"
            >
              <i aria-hidden="true" class="fas fa-code"></i>
            </button>
            <template #content> Пример кода</template>
          </tippy>
          <tippy>
            <button
                type="button"
                @click="editor.chain().focus().setHorizontalRule().run()"
            >
              <i aria-hidden="true" class="fas fa-minus"></i>
            </button>
            <template #content> Горизонтальная линия</template>
          </tippy>

          <button
              type="button"
              @click="editor.chain().focus().setImageWidth('10%').run()"
          >
            <i aria-hidden="true" class="fas fa-minus"></i>
          </button>
          <!--
          <button
            type="button"
            @click="editor.chain().focus().redo().run()"
            :disabled="!editor.can().redo()"
          >
            <i aria-hidden="true" class="fas fa-redo"></i>
          </button> -->
        </div>
      </header>
    </div>
    <div class="editor-content">
      <editor-content ref="editorBlock" :editor="editor"/>
    </div>
    <media-modal
        :isOpened="mediaModal"
        @close="mediaModal = false"
        @selectFile="selectFile"
    />

  </div>
</template>
<script>
import {Editor, EditorContent} from "@tiptap/vue-3";
import StarterKit from "@tiptap/starter-kit";
import TextAlign from "@tiptap/extension-text-align";
import Placeholder from "@tiptap/extension-placeholder";
import CodeBlockLowlight from "@tiptap/extension-code-block-lowlight";
import Blockquote from "@tiptap/extension-blockquote";
import HorizontalRule from "@tiptap/extension-horizontal-rule";
import Underline from "@tiptap/extension-underline";
import Highlight from "@tiptap/extension-highlight";
import Gapcursor from "@tiptap/extension-gapcursor";
import Link from "@tiptap/extension-link";
import TextStyle from "@tiptap/extension-text-style";
import {Color} from "@tiptap/extension-color";
import colorPicker from "@caohenghu/vue-colorpicker";
import Text from "@tiptap/extension-text";
import Typography from "@tiptap/extension-typography";
import FontFamily from "@tiptap/extension-font-family";
import Table from "@tiptap/extension-table";
import TableRow from "@tiptap/extension-table-row";
import TableCell from "@tiptap/extension-table-cell";
import TableHeader from "@tiptap/extension-table-header";
import _ from "lodash";
import MediaModal from "../media/MediaModal.vue";
import Image from "@tiptap/extension-image";
import ImageComponent from "../../utils/editor/Image";
import VideoComponent from "../../utils/editor/Video";

export default {
  components: {EditorContent, colorPicker, MediaModal},
  props: {
    content: String,
  },
  data() {
    return {
      editor: null,
      tableSize: {
        row: 0,
        column: 0,
      },
      mediaModal: false,
      currentPosition: 1,
    };
  },
  mounted() {
    const $this = this;
    this.editor = new Editor({
      content: this.content,
      extensions: [
        StarterKit,
        Underline,
        Highlight.configure({multicolor: true}),
        HorizontalRule,
        Gapcursor,
        Link,
        Blockquote,
        Placeholder.configure({
          placeholder: "Начните вводить текст",
        }),
        TextAlign.configure({
          types: ["heading", "paragraph"],
        }),
        CodeBlockLowlight,
        TextStyle,
        Color,
        Text,
        Typography,
        FontFamily,
        Table.configure({
          resizable: true,
        }),
        TableRow,
        TableHeader,
        TableCell,
        Image,
        ImageComponent,
        VideoComponent,
      ],
      onUpdate: () => {
        $this.$emit("input", this.editor.getHTML());
      },
      onSelectionUpdate: ({editor}) => {
      },
      onTransaction: ({editor, transaction}) => {
        if (transaction.curSelection.$anchor.pos >= 2) {
          $this.currentPosition = transaction.curSelection.$anchor.pos;
        }
      },
    });
  },
  watch: {
    content(value) {
      const isSame = this.editor.getHTML() === value;
      if (isSame) {
        return;
      }
      this.editor.commands.setContent(value, false);
    },
  },
  methods: {
    selectFile(content, type) {
      let fileContent;
      if (type === "image") {
        fileContent = '<img src="' + content.base_url + "/" + content.link + '"/>';
      } else if (type === "video") {
        fileContent =
            "<video status=" + content.status + " src=" + content.src + "></video>";
      } else if (type === "video-link") {
        fileContent =
            "<video-play key=" +
            content.videoId +
            " userId=" +
            content.user_id +
            " provider=" +
            content.provider +
            " videoId=" +
            content.videoId +
            "></video-play>";
      } else if (type === "audio") {
        fileContent =
            "<audio-play src=" +
            content.base_url +
            "/" +
            content.link +
            " type=" +
            content.mime +
            " ></audio-play>";
      } else if (type === "link") {
        fileContent =
            '<a target="_blank" rel="noopener noreferrer nofollow" href=' +
            content.base_url +
            '/' +
            content.link +
            '>' +
            content.filename +
            '</a>';
        co;
      }
      this.editor.commands.insertContentAt(this.currentPosition, fileContent);
    },
    changeColor(color) {
      this.editor.chain().focus().setColor(color.hex).run();
    },
    changeHighlight(color) {
      this.editor.chain().focus().toggleHighlight({color: color.hex}).run();
    },
    columnSize(el) {
      this.tableSize.row = parseInt(el.target.getAttribute("data-row"));
      this.tableSize.column = parseInt(el.target.getAttribute("data-column"));
    },
    insertTable() {
      this.editor
          .chain()
          .focus()
          .insertTable({
            rows: this.tableSize.row,
            cols: this.tableSize.column,
            withHeaderRow: true,
          })
          .run();
    },
    columnSizeClear() {
      this.tableSize.row = 0;
      this.tableSize.column = 0;
    },
  },
};
</script>

<style lang="scss">
.editor {
  border-radius: 15px;
  will-change: box-shadow;
  -webkit-box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%),
  0 1px 5px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%),
  0 1px 5px 0 rgb(0 0 0 / 12%);
  display: block;
  max-width: 100%;
  outline: none;
  text-decoration: none;
  -webkit-transition-property: opacity, -webkit-box-shadow;
  transition-property: opacity, -webkit-box-shadow;
  transition-property: box-shadow, opacity;
  transition-property: box-shadow, opacity, -webkit-box-shadow;
  overflow-wrap: break-word;
  position: relative;
  white-space: normal;
  -webkit-transition: -webkit-box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);

  p {
    color: var(--dark-text);
  }

  .ProseMirror {
    overflow: hidden;
    min-height: 150px;

    > * + * {
      margin-top: 0.75em;
    }

    ul {
      list-style: disc;
    }

    ul, ol {
      padding: 0 1rem;
    }

    blockquote {
      padding-left: 1rem;
      border-left: 3px solid rgba(#0d0d0d, 0.1);
    }

    p {
      color: var(--dark-text);
      clear: inherit;
      padding: 10px;
    }

    h1 {
      font-size: 2rem;
    }

    h2 {
      font-size: 1.5rem;
    }

    h3 {
      font-size: 1.25rem;
    }

    img {
      margin: 5px;
      display: block;
    }

    table {
      border-collapse: collapse;
      table-layout: fixed;
      width: 100%;
      margin: 0;
      overflow: hidden;

      td,
      th {
        min-width: 1em;
        border: 2px solid #ced4da;
        padding: 3px 5px;
        vertical-align: top;
        box-sizing: border-box;
        position: relative;

        > * {
          margin-bottom: 0;
        }
      }

      th {
        font-weight: bold;
        text-align: left;
        background-color: #f1f3f5;
      }

      .selectedCell:after {
        z-index: 2;
        position: absolute;
        content: "";
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(200, 200, 255, 0.4);
        pointer-events: none;
      }

      .column-resize-handle {
        position: absolute;
        right: -2px;
        top: 0;
        bottom: -2px;
        width: 4px;
        background-color: #adf;
        pointer-events: none;
      }

      p {
        margin: 0;
      }
    }

    img {
      max-width: 100%;
      height: auto;

      &.ProseMirror-selectednode {
        outline: 3px solid #68cef8;
      }
    }
  }

  .tableWrapper {
    padding: 1rem 0;
    overflow-x: auto;
  }

  .resize-cursor {
    cursor: ew-resize;
    cursor: col-resize;
  }

  .ProseMirror-focused {
    outline: none;
  }

  .editor-header {
    p {
      color: var(--light-text);
    }

    header {
      background-color: #f5f5f5;
      border-color: #f5f5f5;
      padding: 3px 0;
      border-radius: 8px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      -webkit-box-shadow: 0 0 0 0 rgb(0 0 0 / 20%), 0 0 0 0 rgb(0 0 0 / 14%),
      0 0 0 0 rgb(0 0 0 / 12%);
      box-shadow: 0 0 0 0 rgb(0 0 0 / 20%), 0 0 0 0 rgb(0 0 0 / 14%),
      0 0 0 0 rgb(0 0 0 / 12%);

      button {
        cursor: pointer;
        border: none;
        color: rgba(0, 0, 0, 0.54);
        height: 28px;
        width: 28px;
        margin: 4px 5px;
        font-size: 1rem;
        background-color: transparent;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        display: var(-webkit-inline-box);
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        font-weight: 500;
        letter-spacing: 0.0892857143em;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        outline: 0;
        position: relative;
        text-decoration: none;
        text-indent: 0.0892857143em;
        text-transform: uppercase;
        -webkit-transition-duration: 0.28s;
        transition-duration: 0.28s;
        -webkit-transition-property: opacity, -webkit-box-shadow, -webkit-transform;
        transition-property: opacity, -webkit-box-shadow, -webkit-transform;
        transition-property: box-shadow, transform, opacity;
        transition-property: box-shadow, transform, opacity, -webkit-box-shadow,
        -webkit-transform;
        -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        vertical-align: middle;
        white-space: nowrap;
        padding: 4px;
        border-radius: 50%;

        &:hover {
          background: #e9e9e9;
        }

        &:active {
          background: #dedede;
        }

        &.is-active {
          background: #dedede;
        }
      }

      .table-size-select {
        .columns {
          margin: 0;
          padding: 0;

          .column {
            padding: 0 !important;

            span {
              cursor: pointer;
              width: 15px;
              height: 15px;
              content: "";
              display: block;
              float: left;
              border: 1px solid #f5f5f5;

              &.active {
                background: #666;
              }
            }
          }
        }
      }
    }

    .color-picker {
      background: none;
      width: 220px !important;
      box-shadow: none;
    }
  }

  .editor-content {
    padding: 1%;
  }
}

.is-dark {
  .editor {
    .editor-header {
      header {
        background-color: var(--dark-sidebar-light-6);
        border-color: var(--dark-sidebar-light-12);

        button {
          color: var(--dark-dark-text);

          &:hover {
            background: var(--dark-sidebar-light-9);
          }

          &:active {
            background: var(--dark-sidebar-light-12);
          }

          &.is-active {
            background: var(--dark-sidebar-light-12);
          }
        }
      }
    }
  }
}
</style>
