<template>
  <node-view-wrapper
    as="p"
    :class="{ 'resize-container': resizing }"
    :style="`width: ${width}%; height: ${height}%; ${align}`"
    :ref="`resizer_${src}`"
  >
    <span
      v-if="resizing"
      class="resize-handle resize-handle-nw"
      @mousedown="startResize"
      @touchstart="startResize"
    ></span>
    <span
      v-if="resizing"
      class="resize-handle resize-handle-ne"
      draggable="true"
      @mousedown="startResize"
      @touchstart="startResize"
    ></span>
    <tippy trigger="click" interactive>
      <img
        :src="src"
        :ref="`img_for_resize_${src}`"
        @click="selectImage"
        @focusout="unSelectImage"
      />
      <template #content>
        <tippy>
          <button @click="setAlign('')" class="tip-button">
            <i aria-hidden="true" class="iconify" data-icon="mdi:format-float-none"></i>
          </button>
          <template #content> По левому краю </template>
        </tippy>
        <tippy>
          <button @click="setAlign('margin: 0 auto;')" class="tip-button">
            <i aria-hidden="true" class="iconify" data-icon="mdi:format-float-center"></i>
          </button>
          <template #content> По центру </template>
        </tippy>
        <tippy>
          <button @click="setAlign('float: right;')" class="tip-button">
            <i aria-hidden="true" class="iconify" data-icon="mdi:format-float-right"></i>
          </button>
          <template #content> По правому краю (c обтекающим текстом) </template>
        </tippy>
      </template>
    </tippy>
    <span
      v-if="resizing"
      class="resize-handle resize-handle-sw"
      @mousedown="startResize"
      @touchstart="startResize"
    ></span>
    <span
      v-if="resizing"
      class="resize-handle resize-handle-se"
      @mousedown="startResize"
      @touchstart="startResize"
    ></span>
  </node-view-wrapper>
</template>
<script>
import { NodeViewWrapper, nodeViewProps } from "@tiptap/vue-3";
import { onClickOutside } from "@vueuse/core";
export default {
  components: {
    NodeViewWrapper,
  },
  mounted() {
    onClickOutside( this.$refs[`resizer_${this.src}`], () => {
      if (this.resizing && !this.resizingStart) {
        this.resizing = false
      }
    });
  },
  props: nodeViewProps,
  data() {
    return {
      resizing: false,
      resizingStart: false,
      event_state: {
        container_width: 0,
        container_height: 0,
        container_left: 0,
        container_top: 0,
        mouse_x: 0,
        mouse_y: 0,
        touches: [],
        evnt: null,
      },
    };
  },
  methods: {
    setAlign(align) {
      this.align = align;
    },
    selectImage() {
      this.resizing = true;
    },
    startResize(e) {
      this.resizingStart = true
      e.preventDefault();
      e.stopPropagation();
      this.saveEventState(e);
      document.addEventListener("mousemove", this.resize);
      document.addEventListener("mouseup", this.endResize);
    },
    saveEventState(e) {
      // Save the initial event details and container state
      const imgForResize = this.$refs[`img_for_resize_${this.src}`];
      this.event_state.container_width = imgForResize.clientWidth;
      this.event_state.container_height = imgForResize.clientHeight;
      this.event_state.container_left = imgForResize.getBoundingClientRect().left;
      this.event_state.container_top = imgForResize.getBoundingClientRect().top;
      this.event_state.mouse_x =
        (e.clientX || e.pageX || e.originalEvent.touches[0].clientX) +
        document.documentElement.scrollLeft;
      this.event_state.mouse_y =
        (e.clientY || e.pageY || e.originalEvent.touches[0].clientY) +
        document.documentElement.scrollTop;

      if (typeof e.touches !== "undefined") {
        this.event_state.touches = [];
        $.each(e.touches, function (i, ob) {
          this.event_state.touches[i] = {};
          this.event_state.touches[i].clientX = 0 + ob.clientX;
          this.event_state.touches[i].clientY = 0 + ob.clientY;
        });
      }
      this.event_state.evnt = e;
    },
    endResize(e) {
      e.preventDefault();
      document.removeEventListener("mouseup", this.endResize);
      document.removeEventListener("mousemove", this.resize);
      this.resizingStart = false
    },
    resize(e) {
      const $container = this.$refs[`resizer_${this.src}`];
      let mouse = {};
      mouse.x =
        (e.clientX || e.pageX || e.originalEvent.touches[0].clientX) +
        document.documentElement.scrollLeft;
      mouse.y =
        (e.clientY || e.pageY || e.originalEvent.touches[0].clientY) +
        document.documentElement.scrollTop;
      let width = 0;
      let height = 0;
      if (this.event_state.evnt.target.classList.contains("resize-handle-se")) {
        width = mouse.x - this.event_state.container_left;
        height = mouse.y - this.event_state.container_top;
      } else if (this.event_state.evnt.target.classList.contains("resize-handle-sw")) {
        width =
          this.event_state.container_width - (mouse.x - this.event_state.container_left);
        height = mouse.y - this.event_state.container_top;
      } else if (this.event_state.evnt.target.classList.contains("resize-handle-nw")) {
        width =
          this.event_state.container_width - (mouse.x - this.event_state.container_left);
        height =
          this.event_state.container_height - (mouse.y - this.event_state.container_top);
      } else if (this.event_state.evnt.target.classList.contains("resize-handle-ne")) {
        width = mouse.x - this.event_state.container_left;
        height =
          this.event_state.container_height - (mouse.y - this.event_state.container_top);
      }

      const editorW = this.$parent.$el.offsetWidth;
      const editorH = this.$parent.$el.offsetHeight;
      const widthInPercent = Math.round((100 / editorW) * width);
      const heightInPercent = Math.round((100 / editorH) * height);

      if (
        widthInPercent >= 10 &&
        heightInPercent >= 10 &&
        widthInPercent <= 98 &&
        heightInPercent <= 98
      ) {
        this.width = widthInPercent;
        this.height = heightInPercent;
      }
    },
  },
  computed: {
    imageViewClass() {
      return ["image-view", `image-view--${this.node.attrs.display}`];
    },
    src: {
      get() {
        return this.node.attrs.src;
      },
      set(src) {
        this.updateAttributes({ src });
      },
    },
    align: {
      get() {
        return this.node.attrs.align;
      },
      set(align) {
        this.updateAttributes({
          align: align,
        });
      },
    },
    width: {
      get() {
        return parseInt(this.node.attrs.width);
      },
      set(width) {
        this.updateAttributes({
          width: width,
        });
      },
    },
    height: {
      get() {
        return parseInt(this.node.attrs.height);
      },
      set(height) {
        this.updateAttributes({
          height: height,
        });
      },
    },
  },
};
</script>

<style lang="scss" scoped>
.resize-container {
  display: table;
  position: relative;

  margin: 5px;
  .resize-handle-ne,
  .resize-handle-se,
  .resize-handle-nw,
  .resize-handle-sw {
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    background: #464f6a;
    z-index: 999;
  }
  .resize-handle-nw {
    top: 5px;
    left: 5px;
    cursor: nw-resize;
  }
  .resize-handle-ne {
    top: 5px;
    right: -5px;
    cursor: ne-resize;
  }
  .resize-handle-sw {
    bottom: 5px;
    left: 5px;
    cursor: sw-resize;
  }
  .resize-handle-se {
    bottom: 5px;
    right: -5px;
    cursor: se-resize;
  }
  img {
    border: 1px dashed #464f6a;
  }
  .tip-button {
    font-size: 2rem;
  }
}
</style>
