<script setup lang="ts">
import { inject, ref } from "vue";
import { useRouter, useRoute } from "vue-router";
import { useHead } from "@vueuse/head";
import { useI18n } from "vue-i18n";
import { isDark, toggleDarkModeHandler } from "/@src/state/darkModeState";
import { useUserSession } from "/@src/stores/userSession";
import {useNotyf} from "/@src/composable/useNotyf";
import { Form, Field } from "vee-validate";

import * as yup from "yup";
 
const isLoading = ref(false);
const router = useRouter();
const route = useRoute();
const notif = useNotyf();
const userSession = useUserSession();
const redirect = route.query.redirect as string;
const identity = ref("");
const password = ref("");
const errors = ref({});
const { t } = useI18n();
const socket = inject("socket");

const schema = yup.object({
  promotional: yup.mixed(),
  identity: yup.string().required(t("auth.errors.email.required")),
  password: yup
    .string()
    .required(t("auth.errors.password.required"))
    .min(8, t("auth.errors.password.length")),
});
socket.on('auth:loginResult', (data) => {
  isLoading.value = false
  if (!data.result) {
    notif.error(data.message);
  } else {
    userSession.setToken(data.token)
    userSession.setUser(data.user)
    notif.success(data.message);
  }
})
const handleLogin = async (values: typeof schema) => {
  if (!isLoading.value) {
    isLoading.value = true;
    await socket.emit('auth:login', { identity: values.identity, password: values.password }) 
  };
}
useHead({
  title: "Авторизация",
});
</script>

<template>
  <div class="auth-wrapper-inner columns is-gapless">
    <div class="column login-column is-8 h-hidden-mobile h-hidden-tablet-p hero-banner">
      <div class="hero login-hero is-fullheight is-app-grey">
        <div class="hero-body">
          <div class="columns">
            <div class="column is-10 is-offset-1">
              <img
                class="light-image has-light-shadow has-light-border"
                src="/@src/assets/illustrations/apps/ex-banking-light.png?format=webp"
                alt=""
              />
              <img
                class="dark-image has-light-shadow"
                src="/@src/assets/illustrations/apps/ex-banking-dark.png?format=webp"
                alt=""
              />
            </div>
          </div>
        </div>
        <div class="hero-footer">
          <p class="has-text-centered"></p>
        </div>
      </div>
    </div>

    <!-- Form section -->
    <div class="column is-4">
      <div class="hero is-fullheight is-white">
        <div class="hero-heading">
          <label class="dark-mode ml-auto">
            <input type="checkbox" :checked="!isDark" @change="toggleDarkModeHandler" />
            <span></span>
          </label>
          <div class="auth-logo">
            <RouterLink :to="{ name: 'index' }">
              <AnimatedLogo width="36px" height="36px" />
            </RouterLink>
          </div>
        </div>
        <div class="hero-body">
          <div class="container">
            <div class="columns">
              <div class="column is-12">
                <div class="auth-content">
                  <h2>С возвращением.</h2>
                  <p>Авторизуйтесь в свой аккаунт</p>
                  <RouterLink :to="{ name: 'auth-signup' }">
                    У меня еще нет аккаунта
                  </RouterLink>
                </div>
                <div class="auth-form-wrapper">
                  <!-- Login Form -->
                  <Form :validation-schema="schema" @submit="handleLogin">
                    <div class="login-form">
                      <!-- Username -->
                      <Field v-slot="{ field, errorMessage }" name="identity">
                        <VField>
                          <VControl
                            icon="feather:user"
                            :has-error="Boolean(errorMessage)"
                          >
                            <input
                              v-bind="field"
                              class="input"
                              type="text"
                              placeholder="Имя пользователя или Email"
                              autocomplete="username"
                            />
                            <p v-if="errorMessage" class="help is-danger">
                              {{ errorMessage }}
                            </p>
                          </VControl>
                        </VField>
                      </Field>

                      <!-- Password -->
                      <Field v-slot="{ field, errorMessage }" name="password">
                        <VField>
                          <VControl
                            icon="feather:lock"
                            :has-error="Boolean(errorMessage)"
                          >
                            <input
                              v-bind="field"
                              class="input"
                              type="password"
                              placeholder="Пароль"
                              autocomplete="current-password"
                            />
                            <p v-if="errorMessage" class="help is-danger">
                              {{ errorMessage }}
                            </p>
                          </VControl>
                        </VField>
                      </Field>

                      <!-- Switch -->
                      <VControl class="setting-item">
                        <label for="remember-me" class="form-switch is-primary">
                          <input id="remember-me" type="checkbox" class="is-switch" />
                          <i aria-hidden="true"></i>
                        </label>
                        <div class="setting-meta">
                          <label for="remember-me">
                            <span>Запомнить меня</span>
                          </label>
                        </div>
                      </VControl>

                      <!-- Submit -->
                      <VControl class="login">
                        <VButton
                          :loading="isLoading"
                          color="primary"
                          type="submit"
                          bold
                          fullwidth
                          raised
                        >
                          Войти
                        </VButton>
                      </VControl>

                      <div class="forgot-link has-text-centered">
                        <a>Забыли пароль?</a>
                      </div>
                    </div>
                  </Form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
