<script setup lang="ts">
/**
 * @see /vite.config.ts
 * @see /src/router.ts
 */

import { useHead } from '@vueuse/head'
import { onMounted } from 'vue'
import { useRoute } from 'vue-router'
import { useI18n } from 'vue-i18n'

const route = useRoute()
const { t } = useI18n()

onMounted(() => {
  /**
   * replacing path with a leading /404 allow us to detect this
   * on nginx to return a real 404 status code
   *
   * @see /src/nginx/vuejs.conf
   */
  if (!route.path.startsWith('/404')) {
    window.location.href = `/404${route.fullPath}`
  }
})

useHead({
  title: `${t('page-title')}`,
  meta: [
    {
      name: 'robots',
      content: 'noindex',
    },
  ],
})
</script>


/** 
*/
<i18n lang="yaml">
ru:
  page-title: 'Страница не найдена'
  page-heading: "Мы не смогли найти эту страницу"
  page-body: "Похоже, мы не смогли найти эту страницу. Повторите попытку или обратитесь к администратору, если проблема не устранена."
  back-button: 'Назад'
</i18n>

<template>
  <LandingLayout theme="darker">
    <div class="error-container">
      <div class="error-wrapper">
        <div class="error-inner has-text-centered">
          <div class="bg-number">404</div>
          <SVGErrorPlaceholder />

          <h3>{{ t('page-heading') }}</h3>
          <p>
            {{ t('page-body') }}
          </p>
          <div class="button-wrap">
            <VButton color="primary" elevated :to="{ name: 'index' }">
              {{ t('back-button') }}
            </VButton>
          </div>
        </div>
      </div>
    </div>
  </LandingLayout>
</template>

<style lang="scss">
@import '../scss/abstracts/_mixins.scss';
</style>
