<route lang="yaml">
meta:
requiresAuth: true
</route>

<script setup lang="ts">

import {useRouter} from "vue-router";

const router = useRouter()
const currentDomain = window.location.host;
const currentDomainArray = currentDomain.split(".");
if (currentDomainArray.length <= 2) {
  router.push({
    name: 'study',
  })
}

</script>

<template>
  <AppLayout>
    <RouterView v-slot="{ Component }">
      <transition name="fade-fast" mode="out-in">
        <component :is="Component" :key="route.fullPath"/>
      </transition>
    </RouterView>
  </AppLayout>
</template>
